<section class="game-container">
  <h1>{{title}}</h1>


  <div class="game-wrapper">

    @for (item of this.asyncResults | async; track $index) {
      <app-card (click)="selectCard($event)" #innerCard [imageSrc]="item.imgUrl" [imageId]="item.imgId"></app-card>
    }


  </div>

  <div class="button">
    <button [disabled]="isDisabled" #button (click)="clickButton($event)">Start</button>
  </div>
</section>

@if (this.gameCompleted) {
  <div class="congratulations">
    <h2>Congratulations! You've matched all the cards!</h2>

    <h3>if you do want play again just click on button below.</h3>
    <button (click)="again()">play Again</button>
  </div>
}


<div class="vector"></div>


